#container {
    display: grid;
    grid-template-columns: 1fr .5fr 1fr;
    column-gap: 30px;
    margin: auto;
    width: 80%;
    padding: 50px;
    border: solid brown;

}

header {
    grid-column: span 3;
    text-align: center;
    border: solid red;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 50px;
    color: brown;

}


nav {
    padding: 20px;
    grid-row: span 1;
    font-size: 35px;

}

.news {
    background-color: red;
    border: solid black;
    padding-bottom: 40px;

}

img {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

h5 {
    text-align: center;
    font-size: 40px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}